<h4>Formularios <small>aproximación por template</small> </h4>
<hr>
<form>
  <div>
    <mat-form-field>
      <input matInput placeholder="Nombre">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Apellido">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Correo">
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
    <button mat-raised-button type="submit">Guardar</button>

  </div>
</form>